{% extends 'layout.html' %}
{% load static %}

{% block title %}
    WinMaster - Kompaniya üçün Qeydiyyat
{% endblock %}

{% block styles %}

    <script>
        if(!localStorage.getItem("finished_my_ans")){
            window.location.href = "/"
        }
    </script>

    {% if colors %}
        <style>
            {% for c in colors %}
                :root{
                    {{c.color_name}}: {{c.color_hex}};
                }
            {% endfor %}
        </style>
    {% endif %}
{% endblock %}

{% block root %}

    <div class="register">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <h1>Təbriklər</h1>
                <p>Kompaniyaya qoşularaq qiymət təklifi almaq üçün sonuncu mərhələdəsiniz</p>
                <hr>

                <label for="fullname">
                    <b>Ad, Soyad</b>
                </label>
                <input type="text" placeholder="Ad, Soyad" autocomplete="off" name="fullname" id="fullname" required>

                
                <label for="phone">
                    <b>Telefon *</b>
                    <i class="fa-solid fa-phone-flip"></i>
                </label>
                <input type="text" placeholder="Telefon nömrəniz" autocomplete="off" name="phone" id="phone" required>

                <label for="mexfilik" id="mexfilik-label">
                    <input type="checkbox" id="mexfilik" name="mexfilik" style="display: none;" checked>
                    <b>
                        <span>
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <a href="#">
                            Məxfilik siyasəti
                        </a>
                        ilə razıyam
                    </b>
                </label>
                

                <input type="hidden" name="user_answer" id="user_answer">
                <hr>

                <button type="submit" class="registerbtn">Tamamla</button>
            </div>
            
            <div class="container signin">
                <p>Suallara verdiyim cavabı <a href="{% url 'quizpage' %}" id="reset-form">dəyişmək istəyirəm</a></p>
            </div>
            <br><br><br>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let reset_form = document.getElementById("reset-form")
        reset_form.addEventListener("click", function(e){
            e.preventDefault()
            localStorage.clear()
            window.location.href = e.target.getAttribute("href")
        })

        let user_answer = document.getElementById("user_answer")
        user_answer.value = JSON.stringify(JSON.parse(localStorage.getItem("my_ans")))
    </script>
    {% if invalid %}
        <script>
            alert("Müraciət üçün məxfilik siyasətimizi qəbul etməlisiniz")
        </script>
    {% endif %}
{% endblock %}
